body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    color: #140404fe;
    text-align: center;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.video-container {
    flex: 1;
    position: relative;
    overflow: hidden;
}

.myVideo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: absolute;
    z-index: 999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.genre {
    color: #fff;
    font-size: 6em;
    margin: 0;
    padding: 0;
}

.content h1 {
    color: #fff;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}

.content a {
    font-size: 2.5rem;
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 15px 25px;
    border-radius: 50px;
    transition: 0.3s;
}

.content a:hover {
    background-color: #fff;
    color: #000;
}

.background-clip {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}

